*,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #080710;
}
.background{
    width: 430px;
    height: 520px;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
}
.background .shape{
    height: 200px;
    width: 200px;
    position: absolute;
    border-radius: 50%;
}
.shape:first-child{
    background: linear-gradient(
            #1845ad,
            #23a2f6
    );
    left: -80px;
    top: -50px;
}
.shape:last-child{
    background: linear-gradient(
            to right,
            #ff512f,
            #f09819
    );
    right: -30px;
    bottom: -80px;
}
form{
    height: 900px;
    width: 1200px;
    background-color: rgba(255,255,255,0.13);
    position: absolute;
    transform: translate(-50%,-50%);
    top: 70%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 50px 35px;
}
form *{
    font-family: 'Poppins',sans-serif;
    color: #ffffff;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}
form h3{
    font-size: 32px;
    font-weight: 500;
    line-height: 0px;
    text-align: center;
    color: white;
}

button{
    background-color: #ffffff;
    color: #080710;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
}
table,td,th{
    left: 55%;
    right: 55%;
    border: 1px solid white;
    border-collapse: collapse;
    align-content: center;
    vertical-align: middle;

}
table{
    width: auto;
}
